node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/alumni-backend-netcore/.vs
/alumni-backend-netcore/AluminiBackend/.vs
/alumni-backend-netcore/AluminiBackend/obj
/alumni-backend-netcore/AlumniBackendApi/bin/Debug/net9.0
/alumni-backend-netcore/AlumniBackendApi/obj/Debug/net9.0
/alumni-backend-netcore/AlumniBackendApi/obj/Release/net9.0
/alumni-backend-netcore/AlumniBackendApi/obj
.deploy_state/be_last_state.txt
